* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    outline: none;
}

@font-face {
    font-family: "Merriweather-Light";
    src: url(/fonts/Merriweather-Light.ttf);
}

@font-face {
    font-family: "Inter-ExtraBold";
    src: url(/fonts/Inter-ExtraBold.ttf);
}


body {
    background: url(/images/bg.jpg) fixed center/cover;
    font-family: "Merriweather-Light", serif;
    width: 75%;
    margin: 250px auto;

}


h1,
h2,
h3,
h4,
li {

    font-family: "Inter-ExtraBold";
    text-transform: uppercase;
    ;
}

a,
a:visited {
    color: white;
    text-decoration: none;
    cursor: pointer;
}



header {
    height: 100vh;

    .header-container {
        text-align: center;

        h1 {
            color: whitesmoke;
            font-size: 5rem;
            font-weight: 900;
            letter-spacing: 5px;
            width: 750px;
            margin: 0 auto 50px;
        }

        p {
            color: whitesmoke;
            font-size: 1.2rem;
            width: 1200px;
            margin: 0 auto 100px;
            font-style: italic;

        }

        i {
            font-size: 4.5rem;
            color: white;
            margin-bottom: 150px;
        }
    }




    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: rgba(255, 255, 255, 0.183);



        .nav-text ul {
            display: flex;
            justify-content: space-between;
            align-items: center;

            li {

                padding: 36px;
                color: white;
                letter-spacing: 3px;
                font-size: 0.8rem;



            }

            li:first-child {
                background: rgb(252, 252, 252);

                a {
                    color: black;
                }


            }

            li:hover {
                background: rgb(252, 252, 252);

                a {
                    color: black;
                }


            }
        }

        .nav-icons ul {
            display: flex;
            justify-content: space-between;
            align-items: center;


            li {

                padding: 30px;
                color: white;
                font-size: 1.5rem;


            }
        }



    }


}