* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    outline: none;
}

@font-face {
    font-family: "Merriweather-Light";
    src: url(/fonts/Merriweather-Light.ttf);
}

@font-face {
    font-family: "Inter-ExtraBold";
    src: url(/fonts/Inter-ExtraBold.ttf);
}


body {
    background: url(/images/bg.jpg) fixed center/cover;
    font-family: "Merriweather-Light", serif;
    width: 75%;
    margin: 250px auto;

}


h1,
h2,
h3,

li {

    font-family: "Inter-ExtraBold";
    text-transform: uppercase;
    ;
}

a,
a:visited {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.button {

    border: 2px solid black;
    padding: 15px 60px;
    text-transform: uppercase;
    background: transparent;
    color: black;
}

header {
    // height: 100vh;
    text-align: center;

    .header-container {


        h1 {
            color: whitesmoke;
            font-size: 5rem;
            font-weight: 900;
            letter-spacing: 5px;
            width: 800px;
            margin: 0 auto 50px;
        }

        p {
            color: whitesmoke;
            font-size: 1.2rem;
            width: 90%;
            margin: 0 auto 100px;
            font-style: italic;

        }

        i {
            font-size: 4.5rem;
            color: white;
            margin-bottom: 150px;
        }
    }




    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: rgba(255, 255, 255, 0.183);
        width: 100%;



        .nav-text ul {
            display: flex;
            justify-content: space-between;
            align-items: center;

            li {

                padding: 36px;
                color: white;
                letter-spacing: 3px;
                font-size: 0.8rem;



            }

            li:first-child {
                background: rgb(238, 235, 235);

                a {
                    color: black;
                }


            }

            li:hover {
                background: rgb(238, 235, 235);
                transition: 0.3s ease;

                a {
                    color: black;
                }


            }
        }

        .nav-icons ul {
            display: flex;
            justify-content: space-between;
            align-items: center;


            li {

                padding: 30px;
                color: white;
                font-size: 1.5rem;

                i:hover {
                    color: black;
                }




            }
        }



    }


}

.main {
    text-align: center;
    margin: 0 auto;
    background: white;
    // height: 2300px;

    p:first-child {

        font-size: 1.3rem;
        padding: 100px 0 80px;
        position: relative;

        &::after {

            content: "";
            position: absolute;
            width: 30%;
            height: 1px;
            background: rgb(167, 161, 161);
            transform: translateX(15%);
            top: 110px;
        }

        &::before {

            content: "";
            position: absolute;
            width: 30%;
            height: 1px;
            background: rgb(167, 161, 161);
            left: 30%;
            transform: translateX(-70%);
            top: 110px;
        }

    }

    h2 {
        font-size: 4rem;
        font-weight: 600;
        width: 750px;
        margin: 0 auto;
        letter-spacing: 3px;
        line-height: 90px;
    }

    p:last-child {
        font-style: italic;
        width: 80%;
        margin: 35px auto;
        line-height: 50px;


    }

    .main-img {
        background: url(/images/pic01.jpg) center/cover;
        width: 80%;
        height: 600px;
        margin: 0 auto 80px;

    }

    a {
        color: black;
        font: 800 0.9rem "Inter-ExtraBold";

    }

    a:hover {
        color: rgb(242, 236, 236);
        background: rgba(161, 151, 151, 0.462);
    }


    .photo {
        margin-top: 150px;
        padding-bottom: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        


        h4 {
            font: 200 0.9rem "Merriweather-Light";
            margin-bottom: 25px;
        }

        h3 {

            font-size: 1.3rem;
            width: 37%;
            margin: 0 auto;
            letter-spacing: 4px;
            line-height: 30px;

        }

        .photo-left::before {

            content: "";
            height: 1px;
            position: absolute;           
            width: 100%;          
            background: rgb(201, 193, 193);
            transform: translateX(-25.6%);
            top: -50px;
           

        }


        .photo-left::after{

          
            content: "";
            height: 1px;
            position: absolute;           
            width: 15.5%;          
            background: rgb(179, 30, 30);
            transform: rotate(90deg);
            top: 60px;
            right: 41%;
           
           

        }

        .photo-left .tof {
            background: url(/images/pic02.jpg)center/cover;
            width: 75%;
            height: 400px;
            margin: 40px auto 70px;

        }

        .photo-right .tof {
            background: url(/images/pic03.jpg)center/cover;
            width: 75%;
            height: 400px;
            margin: 40px auto 70px;

        }

        p {
            width: 75%;
            margin: 0 auto 50px;
            line-height: 35px;
        }

        
    }
}